<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between">
      <ion-title> Aseguradoras</ion-title>
      <ion-button fill="clear" id="open-modal" (click)="onAddCompany()"
        >Agregar</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div style="display: flex; justify-content: space-between">
        <ion-button fill="clear" (click)="navigateToTab1()">
          <span style="color: #000; font-size: 30px; font-weight: bold"
            >Aseguradoras</span
          >
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <!-- <ion-button fill="clear" id="open-modal" (click)="onAddCompany()"
          >Agregar</ion-button
        > -->
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-text style="padding: 10px;" *ngIf="companies.length < 1" color="danger">No Hay aseguradoras disponibles</ion-text>

  <ion-card *ngFor="let company of companies">
    <img [alt]="company.name" [src]="company.image" />
    <ion-card-header>
      <ion-card-title>{{ company.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{ company.description }} </ion-card-content>

    <ion-button fill="clear" (click)="removeCompany(company.id)"
      >Eliminar</ion-button
    >
    <ion-button (click)="onEditCompany(company)" fill="outline"
      >Editar</ion-button
    >
  </ion-card>
</ion-content>

<ion-modal [isOpen]="isModalOpen" #modal>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title
          >{{ selectedCompany ? 'Editar' : 'Agregar' }} Aseguradora</ion-title
        >
        <ion-buttons slot="end">
          <ion-button color="dark" (click)="setIsModalOpen(false)"
            >Cerrar</ion-button
          >
        </ion-buttons>
      </ion-toolbar>

      <company-form
        [company]="selectedCompany"
        [onSuccess]="onSuccessSaveCompany.bind(this)"
      ></company-form>
    </ion-content>
  </ng-template>
</ion-modal>
